div.title h1 {
    display: block;
    float: left;
    width: auto;
    margin-top: 5%;
    margin-left: 38.8%;
    margin-right: 38.8%;
}

div.Admintitle h1 {
    display: block;
    float: left;
    width: auto;
    margin-top: 5%;
    margin-left: 37.72%;
    margin-right: 37.72%;
}

div.table {
    display: block;
    float: left;
    width: 40%;
    height: 80%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border: 2px black solid;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(107,107,107,0.7) 5px 5px 20px;
}

table, td, tr {
    line-height: 200%;
}

div.table table{
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
}

div.table table tr td {
    font-size: 22px;
}

div.table table tr td.small_title{
    font-weight: bold;
}

div.table input[type=button] {
    height: 8%;
    font-size: 100%;
    background-color: #008B8B;
    color: white;
    border: #002929 2px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
}

div.table input[type=button]:hover {
    background-color: #005050;
    text-decoration: none;
}